<?xml version="1.0"?>
<configuration>
	<!-- Add a configuration handler for PostSharp. -->
	<configSections>
		<section name="postsharp" type="PostSharp.AspNet.Configuration.PostSharpConfiguration, PostSharp.AspNet"/>
	</configSections>
	<!-- PostSharp configuration -->
	<postsharp directory="P:\branches\1.0\Core\PostSharp.MSBuild\bin\Debug" trace="true">
		<parameters>
			<!--
			<add name="parameter-name" value="parameter-value"/>
         -->
		</parameters>
		<searchPath>
			<!-- Always add the binary folder to the search path. -->
			<add name="bin" value="~\bin"/>
			<!-- Then add the location of plug-ins that are not installed in standard locations. -->
			<add name="laos-weaver" value="P:\branches\1.0\Laos\PostSharp.Laos.Weaver\bin\Debug"/>
		</searchPath>
	</postsharp>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- Note the 'assemblyPostProcessorType' attribute. -->
		<compilation debug="true" assemblyPostProcessorType="PostSharp.AspNet.AssemblyPostProcessor, PostSharp.AspNet">
			<!--			<assemblies>
				<add assembly="ISymWrapper, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>-->
			<assemblies>
				<add assembly="ISymWrapper, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="None"/>
		<trace enabled="true" pageOutput="true"/>
	</system.web>
</configuration>
